apispec==6.3.0
apispec-webframeworks==0.5.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
cryptography==41.0.3
darglint==1.8.1
deprecation==2.1.0
ecdsa==0.18.0
flake8==6.0.0
idna==3.4
lazydocs==0.4.8
marshmallow==3.20.1
mccabe==0.7.0
packaging==23.1
pyasn1==0.5.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
Pygments==2.16.0
PyMuPDF==1.22.3
python-dotenv==1.0.0
python-jose==3.3.0
python-keycloak==3.3.0
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
rsa==4.9
six==1.16.0
tornado==6.3.2
typer==0.9.0
typing_extensions==4.7.1
urllib3==2.0.4
